{% load staticfiles %}

<head>
  <script type = "text/javascript" src="{% static 'javascript/jquery-3.3.1.min.js' %}"></script>
  <script type = "text/javascript" src="{% static 'javascript/pizza.js' %}"></script>
</head>

<form action="/pizzeriaApp/pizza" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">
</form>

{% comment %} <form action="/pizzeriaApp/pizza" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
    {%for form in formset%}
    {{form}}
    {%endfor%}
    </table>
    <input type="submit" value="Submit">
</form> {% endcomment %}