<h3>Datos de cliente</h3>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>id</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Cedula</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.name }}</td>
        <td>{{ cliente.lastname }}</td>
        <td>{{ cliente.ci }}</td>
        
      </tr>

  </tbody>

</table>

<h5>Lista de ordenes del cliente</h5>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>id</th>
      <th>fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
{%for orden in cliente.order_set.all%}
      <tr>
        
        <td>{{ orden.id }}</td>
        <td>{{ orden.buy_date }}</td>
        
       
      </tr>
 {%endfor%}
  </tbody>

</table>